<%-layout('layout')%>

<div id="content" class="col-xs-8">
	<div class="panel">
		<div class="header">
			<ul class="breadcrumb">
				<li><a href="/">Home</a><span class='divider'></span></li>
				<li>Login</li>
			</ul>
		</div>
		<div class="inner">
			<form action="/signin" method="post" id="signin_form" class="form-horizontal">
				<div class="form-group row">
				  <label for="" class="col-xs-2 col-form-label">Username</label>
				  <div class="col-xs-5">
				    <input class="form-control input-xlarge" type="text" value="" id="uname" name="uname">
				  </div>
				</div>
				<div class="form-group row">
				  <label for="" class="col-xs-2 col-form-label">Password</label>
				  <div class="col-xs-5">
				    <input class="form-control input-xlarge" type="password" value="" id="upass" name="upass">
				  </div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" value="Register">Login</button>
					<button type="reset" class="btn btn-warning" value="Reset">Reset</button>
				</div>
			</form>
		</div>
	</div>
</div>

<%-partial('sidebar')%>
