<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="" class="navbar-brand">
				<img src="<%=config.site_logo%>" alt="" style="width:80px;">
			</a>
		</div>
		<form id="searchbar" class="form-inline pull-left" action="">
			<input class="form-control" type="text" placeholder="Search" style="width:250px">
		</form>
		<ul class="nav navbar-nav pull-right">
			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/getstart">Get Start</a></li>
			<li class="nav-item"><a class="nav-link" href="/api">API</a></li>
			<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
			<li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
			<li class="nav-item"><a class="nav-link" href="/signin">Log In</a></li>
		</ul>

	</div>
</nav>